@using JobPortal.WebUI.Models
@model Category
@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "Category management Page";
}

<div class="container">


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#displayMessage">
        ADD NEW
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
            <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
        </svg>
    </button>
    <br />
    <br />
    <div >
        <!-- Modal -->
        <div class="modal fade" id="displayMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="AddCategory" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="modal-body ">


                            <div class="form-group  ">
                                <label asp-for="ID"></label>
                                <input asp-for="ID" class="form-control" />
                                <span asp-validation-for="ID" class="text-danger"></span>
                            </div>
                            <div class="form-group ">
                                <label asp-for="PID"></label>
                                <input asp-for="PID" class="form-control" />(if any)
                            </div>
                            <div class="form-group ">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group ">
                                <label asp-for="Description"></label>
                                <textarea asp-for="Description" rows="3" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>

    </div>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category ID</th>
                <th scope="col">Category PID</th>
                <th scope="col">Category Name</th>
                <th scope="col">Category Description</th>
                <th>&nbsp;&nbsp;  <b>Actions</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category category in (List<Category>)ViewData["category"])
            {

                <tr>
                    <th scope="row">@category.ID</th>
                    <td>@category.PID</td>
                    <td>@category.PID</td>
                    <td>@category.Name</td>
                    <td>@category.Description</td>


                    <td>
                        <a type="button" class="btn btn-danger" asp-action="RemoveCategory" asp-route-id="@Html.DisplayNameFor(model =>category.ID)">
                            Remove
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                            </svg>
                        </a>
                    </td>
                </tr>

            }


        </tbody>
    </table>





</div>
