@model JobPortal.WebUI.Models.User
@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "User management Page";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Email</th>
            <th scope="col">User Name</th>
            <th>&nbsp;&nbsp;  <b>Action</b></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i < 7; i++)
        {

            <tr>
                <th scope="row">@i</th>
                <td>@Model.UserEmail</td>
                <td>@Model.UserName</td>

                <td>


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#displayUserDetails">
                        View Details
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                            <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                        </svg>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="displayUserDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        User ID: <span>@Model.UserID</span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-control">
                                        <label asp-for="@Model.UserName"></label>
                                        <input asp-for="@Model.UserName" readonly />
                                    </div>
                                    <div class="form-control">
                                        <label asp-for="@Model.UserEmail"></label>
                                        <input asp-for="@Model.UserEmail" readonly />
                                    </div>
                                    <div class="form-control">
                                        <label asp-for="@Model.RoleName"></label>
                                        <input asp-for="@Model.RoleName" readonly />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success">Make Admin</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Delete User</button>
                                </div>
                            </div>
                        </div>
                    </div>





                </td>
                <td>
                    <a type="button" class="btn btn-danger" asp-action="RemoveMessage" asp-route-id="@Html.DisplayNameFor(model => model.UserEmail)">
                        Remove
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                    </a>
                </td>
            </tr>

        }


    </tbody>
</table>