@model GIG
    <div class="col-12 col-md-4 col-lg-3 p-2">
        <div class="card">
            <a href="">
                <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="@Model.Title">
            </a>
            <div class="card-body">
                <a href="" class="text-dark btn-link">
                    <small><img class="rounded-circle" src="~/img/@Model.user.ImageUrl" width="20" height="20" /> @Model.user.UserName</small>
                </a>
                <a href="" class="text-dark btn-link">
                    <h5 class="card-title my-2">@Model.Title</h5>
                </a>
                <hr />
                <h6 class="m-0 text-right">$ @Model.Pricing / @Model.PriceUnit</h6>
            </div>
        </div>
    </div>
