@page "/gig/{id}"
<h3 class="my-2">@gig.Title</h3>
<hr />
<h5>@gig.Price</h5>
<small><img src="/img/@gig.user.ImageUrl" width="30" height="30" class="rounded-circle" /> @gig.user.UserName</small>
<img class="w-100 my-3" src="/img/@gig.ImageUrl" />
<p>@gig.Description</p>
<div class="my-4">
    <OrderForm order="@order"></OrderForm>
</div>
@code {
    [Parameter]
    public String id { get; set; }
    Gig gig = new Gig();
    Order order;
    protected override void OnInitialized()
    {
        gig = new Gig { Title = "this is title", Description = "this is my descriotin", ImageUrl = "download.jpg", Price = 10, PriceInterval = "daily", user = MainLayout.current_user };
        order = new Order { Freelancer = MainLayout.current_user, Client = gig.user, Status = "pending" };
        base.OnInitialized();
    }
}
