@page "/admin/skills"
<AdminHeader></AdminHeader>
<h3 class="my-2">Manage Skills</h3>
<hr />
<a @onclick="@((_)=> { show = true; })" class="btn btn-primary my-2">Add Skill</a>
<SkillForm show="@show" click="@((_)=> { show = false; })" skill="@sk" onsubmit="@((skill)=> { AddSkill(skill); })"></SkillForm>
<table class="table table-dark table-striped">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td></td>
    </tr>
    @foreach (Skill cat in skills)
    {
    <tr>
        <td>@cat.ID</td>
        <td>@cat.Name</td>
        <td><button class="btn btn-info" @onclick="@((_)=> { UpdateBtnClick(cat); })">Update</button><button class="btn btn-danger" @onclick="@((_)=> { DeleteSkill(cat); })">Delete</button></td>
    </tr>
    }
</table>
@code{
    bool show = false;
    List<Skill> skills;
    Skill sk = new Skill();
    public void AddSkill(Skill skill)
    {
        if (skill.ID == 0)
        {
            skills.Add(new Skill { ID = skill.ID, Name = skill.Name });

        }
        else
        {
            for (int i = 0; i < skills.Count; i++)
            {
                if (skills[i].ID == skill.ID)
                {
                    skills[i] = new Skill { Name = skill.Name, ID=skill.ID };
                    break;
                }
            }
        }
        sk = new Skill();
        show = false;

    }
    public void UpdateBtnClick(Skill skill)
    {
        show = true;
        sk = new Skill { Name = skill.Name, ID=skill.ID };
    }
    protected override void OnInitialized()
    {
        skills = new List<Skill>();
        skills.Add(new Skill { ID = 1, Name = "skill name" });
        skills.Add(new Skill { ID = 2, Name = "skill name" });
        skills.Add(new Skill { ID = 3, Name = "skill name" });
        skills.Add(new Skill { ID = 4, Name = "skill name" });
        skills.Add(new Skill { ID = 5, Name = "skill name" });
        base.OnInitialized();
    }
    public void DeleteSkill(Skill skill)
    {
        skills.Remove(skill);
    }
}