@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Listing Purchase Requests";

}


<h2>@ViewData["Title"]</h2>



<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Requester</th>
            <th scope="col" colspan="2">Request Descrption</th>
            <th>Offers</th>
            <th>Budget</th>
            <th>Issued Date</th>
            <th scope="col" colspan="2">&nbsp &nbsp <b style="text-align:center">Actions</b></th>

        </tr>
    </thead>
    <tbody>
        @foreach (PurchaseRequestForm req in (List<PurchaseRequestForm>)ViewData["purchase-request"])
        {

            <tr>
                <th scope="row">@req.RequestID</th>
                <td>@req.RequestNamer</td>
                <td colspan="2">@req.RequestDescription</td>
                <td style="text-align:center">@req.RequestOfferCount</td>
                <td style="text-align:center">@req.RequestBudget</td>
                <td>@req.RequestDate</td>
                <td>


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#displayRequestDetails">
                        Details
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                            <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                        </svg>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="displayRequestDetails" tabindex="-1" role="dialog" aria-labelledby="request-details" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="request-details">Close</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5>RequestID: @req.RequestID </h5>
                                    <textarea class="form-control" rows="3" readonly>@req.RequestDescription</textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" asp-action="RequestHandler">SendInvite</button>
                                </div>
                            </div>
                        </div>
                    </div>





                </td>
                <td>
                    <a type="button" class="btn btn-danger" asp-action="RequestHandler" asp-route-id="@Html.DisplayNameFor(model =>@req.RequestID )">
                        Invite
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                    </a>
                </td>
            </tr>

        }


    </tbody>
</table>